<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="json4Rest" type="SimpleJsonRest.Utils.HandlerConfig" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <json4Rest assembly="c:\\data\\dev\\$\\aakzeg\\zengin\\bin\\debug\\zengin.exe" service="zengin.Kweq" logPath="Logs\log.txt" />
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <handlers>
      <add name="Handler" path="*" verb="*" type="SimpleJsonRest.Handler" />
    </handlers>
  </system.webServer>

</configuration>