<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="json4Rest" type="SimpleHandler.Utils.HandlerConfig" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <json4Rest assembly="c:\\data\\dev\\$\\aakzeg\\zengin\\bin\\debug\\zengin.exe" service="zengin.Kweq" logPath="Logs\log.txt" />
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Handler" path="*" verb="*" type="SimpleHandler.Handler" />
    </handlers>
  </system.webServer>

</configuration>
